
<!DOCTYPE html>
<html lang="en"> 

<%- include('./partials/head.ejs') %>

<body class="app">   	
    <header class="app-header fixed-top">	

        <%- include('./partials/navtop.ejs') %>
        <%- include('./partials/navside.ejs') %>

    </header><!--//app-header-->

    <style>
      .error {
        color: red;
      }
    </style>

      <div class="app-wrapper">
	    
        <div class="app-content pt-3 p-md-3 p-lg-4">
          <div class="container-xl">			    
            <h1 class="app-page-title">Create Activity</h1>
            <hr class="mb-4">
            <div class="row g-4 settings-section">
              <!-- <div class="col-12 col-md-4">
                <h3 class="section-title">General</h3>
                <div class="section-intro">Settings section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="help.html">Learn more</a></div>
              </div> -->
              <div class="col-12 col-md-8">
                <div class="app-card app-card-settings shadow-sm p-4">
            
                  <div class="app-card-body">
                    <form class="settings-form" method="post" action="/activities/create" >
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- Add CSRF token here -->
                      <div class="mb-3">
                        <label for="activityName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="activityName" value="" name="activityName" required>
                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'activityName') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>
                      </div>
                      
                      <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" value="" name="date" >

                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'date') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>

                      </div>

                      <!-- Time Ranges -->
                      <div class="mb-3">
                        <label for="inAMStart" class="form-label">In AM Start</label>
                        <input type="time" class="form-control" id="inAMStart" value="" name="inAMStart" >

                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'inAMStart') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>

                      </div>
                      <div class="mb-3">
                        <label for="inAMEnd" class="form-label">In AM End</label>
                        <input type="time" class="form-control" id="inAMEnd" value="" name="inAMEnd" >

                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'inAMEnd') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>

                      </div>
                      <div class="mb-3">
                        <label for="outAMStart" class="form-label">Out AM Start</label>
                        <input type="time" class="form-control" id="outAMStart" value="" name="outAMStart" >

                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'outAMStart') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>

                      </div>
                      <div class="mb-3">
                        <label for="outAMEnd" class="form-label">Out AM End</label>
                        <input type="time" class="form-control" id="outAMEnd" value="" name="outAMEnd" >

                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'outAMEnd') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>

                      </div>
                      <div class="mb-3">
                        <label for="inPMStart" class="form-label">In PM Start</label>
                        <input type="time" class="form-control" id="inPMStart" value="" name="inPMStart" >

                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'inPMStart') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>

                      </div>
                      <div class="mb-3">
                        <label for="inPMEnd" class="form-label">In PM End</label>
                        <input type="time" class="form-control" id="inPMEnd" value="" name="inPMEnd" >

                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'inPMEnd') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>

                      </div>
                      <div class="mb-3">
                        <label for="outPMStart" class="form-label">Out PM Start</label>
                        <input type="time" class="form-control" id="outPMStart" value="" name="outPMStart" >

                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'outPMStart') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>

                      </div>
                      <div class="mb-3">
                        <label for="outPMEnd" class="form-label">Out PM End</label>
                        <input type="time" class="form-control" id="outPMEnd" value="" name="outPMEnd" >

                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'outPMEnd') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>

                      </div>
                      <!-- Time Ranges -->

                      <div class="mb-3">
                        <label for="semester" class="form-label">semester</label>
                        <input type="text" class="form-control" id="semester" value="" name="semester" required>
                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'semester') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>
                      </div>

                      <div class="mb-3">
                        <label for="acadYear" class="form-label">Academic Year</label>
                        <input type="text" class="form-control" id="acadYear" value="" name="acadYear" required>
                        <% if (errors) { %>
                            <% errors.forEach(error => { %>
                              <% if (error.path === 'acadYear') { %>
                                <span class="error"><%= error.msg %></span>
                              <% } %>
                            <% }) %>
                        <% } %>
                      </div>
                      
                      <button type="submit" class="btn app-btn-primary" >Save</button>
                    </form>
                  </div><!--//app-card-body-->
            
                </div><!--//app-card-->
              </div>
            </div><!--//row-->
          </div>
        </div>

        <%- include('./partials/footbar.ejs') %>
        
      </div>

      
  <%- include('./partials/footer.ejs') %>

</body>
</html> 
  